@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  color: #0d1717;
  font-family: "Poppins", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 0.7rem;
  background-color: transparent;
  border-block-end: 1px solid transparent;
  z-index: 2;
  transition: 300ms ease;
}
.header--active {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.header--hide {
  transform: translateY(-120%);
  transition-delay: 0.25s;
}
.header__info-bar {
  display: none;
}
.header__info-bar__heading {
  font-size: 1rem;
}
.header__items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.2rem;
}
.header__items__logo-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.header__items .search-btn {
  position: absolute;
  right: 100px;
  padding: 0.8rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: transfrom 500ms;
}
.header__items .search-btn:hover, .header__items .search-btn:focus {
  transform: scale(1.09);
}
.header__items .search-btn ion-icon {
  font-size: 2.1rem;
  color: #ffffff;
  font-weight: bold;
}
.header .search-form {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  opacity: 0;
  font-size: 1rem;
  z-index: 1;
  transition: 500ms ease;
}
.header .search-form--active {
  opacity: 1;
  transform: translateY(225%) translateX(-50%);
}
.header .search-form__input {
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid #C7C7C7;
  border-radius: 6px;
}
.header .search-form__btn {
  position: absolute;
  right: 30px;
  top: 15%;
  font-size: 1.7rem;
}
.header .my-cart {
  position: absolute;
  right: 60px;
  padding: 0.8rem;
  border: none;
  background: none;
  cursor: pointer;
  transition: transfrom 500ms;
}
.header .my-cart:hover, .header .my-cart:focus {
  transform: scale(1.09);
}
.header .my-cart ion-icon {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.3rem;
}
.header .my-cart span {
  display: none;
}

.nav {
  position: fixed;
  top: 85px;
  bottom: 0;
  left: -430px;
  width: 100%;
  visibility: hidden;
  max-width: 360px;
  padding-inline: 35px;
  padding-block: 20px;
  background-color: #ffffff;
  overflow-y: auto;
  z-index: 2;
  transition: 500ms ease;
}
.nav--active {
  transform: translateX(430px);
  visibility: visible;
}
.nav__items {
  display: flex;
  flex-direction: column;
}
.nav__item {
  position: relative;
  padding-block: 0.8rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-block-end: 1px solid hsla(0, 0%, 0%, 0.2);
  transition: color 300ms ease;
}
.nav__item:is(:hover, :focus-visible) {
  color: #4e64ff;
}
.nav__item::after {
  display: none;
}
.nav__item:last-child {
  color: #4e64ff;
  font-size: 1rem;
  font-weight: bold;
  padding-block-end: 1rem;
  border-block-end: none;
  transition: transform 300ms ease;
}
.nav__item:last-child:is(:hover, :focus-visible) {
  transform: translateX(20px);
}
.nav .has-dropdown ion-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}
.nav__actions {
  display: flex;
  flex-direction: column;
  padding-block-start: 1rem;
}
.nav__action {
  display: flex;
  align-items: center;
  padding-block: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.nav__action:is(:hover, :focus-visible) ion-icon {
  color: #4e64ff;
  transform: scale(1.02);
}
.nav__action ion-icon {
  padding-right: 0.5rem;
  font-size: 2rem;
  transition: transform 300ms ease, color 300ms ease;
}
.nav__dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease, max-height 300ms ease, visibility 300ms ease;
}
.nav__dropdown--active {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.nav__dropdown-item {
  margin-block: 0.6rem;
  padding-left: 0.3rem;
  font-size: 0.8rem;
  transition: color 300ms ease;
}
.nav__dropdown-item:is(:hover, :focus-visible) {
  color: #4e64ff;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero {
  position: relative;
  padding-block: 95px;
  min-height: 100vh;
  color: #ffffff;
  overflow: hidden;
  z-index: 1;
}
.hero__item {
  position: absolute;
  display: grid;
  place-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 1000ms ease;
  z-index: 1;
}
.hero__item--active {
  opacity: 1;
  visibility: visible;
}
.hero__slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
}
.hero__item--active .hero__slider-bg {
  animation: smoothScale 7s linear forwards;
}
.hero__subtitle {
  margin-block-end: 1.5rem;
  color: #01d5c4;
  font-weight: bold;
}
.hero__title {
  margin-block-end: 1.5rem;
  padding-inline: 0.5rem;
}
.hero__description {
  padding-inline: 0.5rem;
}
@keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.text-center {
  text-align: center;
}

.wrapper {
  margin-inline: auto;
  max-width: 1200px;
  width: 100%;
}

.section {
  margin-block: 3rem;
  padding-inline: 1.5rem;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.4rem + 0.8vw);
}

.subtitle {
  text-transform: uppercase;
  font-size: calc(1rem + 0.7vw);
  letter-spacing: 2px;
}

.btn {
  position: relative;
  margin-block-start: 4rem;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
  color: #01d5c4;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: -moz-max-content;
  max-width: max-content;
  border: 2px solid #01d5c4;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #01d5c4;
  transition: 500ms ease;
  z-index: -1;
}

.btn .text {
  transition: 300ms ease;
}

.btn .two {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: -moz-max-content;
  min-width: max-content;
  color: hsl(40, 12%, 5%);
}

.btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.btn:is(:hover, :focus-visible) .one {
  transform: translateY(-40px);
}

.btn:is(:hover, :focus-visible) .two {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bestsellers__subtitle {
  text-align: center;
  margin-block: 1.5rem;
  color: #545454;
  font-size: calc(1rem + 0.7vw);
  font-weight: 300;
}
.bestsellers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 2rem 1rem;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 6px;
  transition: transform 300ms ease;
}
.bestsellers__card:hover {
  transform: scale(0.98);
}
.bestsellers__card::after {
  position: absolute;
  content: attr(data-bestseller);
  top: 5px;
  right: 5px;
  padding: 0.2rem 0.5rem;
  background-color: #4e64ff;
  border-radius: 6px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
.bestsellers__card-img img {
  width: 100%;
}
.bestsellers__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bestsellers__card-content-title {
  font-size: 1.1rem;
}
.bestsellers__card-content-model {
  margin-block-end: 0.5rem;
  font-size: 0.9rem;
  color: #545454;
}
.bestsellers__card-content-regural-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #545454;
}
.bestsellers__card-content-btn {
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
  background-color: transparent;
  border: 1px solid #4e64ff;
  transition: background-color 300ms, color 300ms;
}
.bestsellers__card-content-btn:hover {
  background-color: #4e64ff;
  color: #ffffff;
}

.discounts {
  padding: 5rem 1.5rem;
  background-color: #01d5c4;
}
.discounts__title {
  padding-block: 0.5rem;
}
.discounts__btn {
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
  border: 1px solid transparent;
  background-color: #0d1717;
  color: #ffffff;
}
.discounts__btn:hover {
  background-color: #4e64ff;
}

.info-bar {
  display: none;
}

@media (min-width: 768px) {
  .info-bar {
    display: none;
    background-color: #4e64ff;
  }
  .info-bar__title {
    padding: 0.2rem;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    color: #ffffff;
  }
}
.products__title {
  margin-block-end: 2.5rem;
}
.products__cards {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}
.products__card {
  min-width: 15rem;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.products__card-img {
  position: relative;
  height: 15rem;
  background-size: cover;
  background-position: center;
}
.products__card:nth-child(1) .products__card-img {
  background-image: url("../../img/products-bg1.jpg");
}
.products__card:nth-child(2) .products__card-img {
  background-image: url("../../img/products-bg2.jpg");
}
.products__card:nth-child(3) .products__card-img {
  background-image: url("../../img/products-bg3.jpg");
}
.products__card:nth-child(4) .products__card-img {
  background-image: url("../../img/products-bg4.jpg");
}
.products__card-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
.products__card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: calc(1rem + 0.7vw);
  color: #ffffff;
}

@media (min-width: 576px) {
  .products__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */