@use './base/reset' as *;
@use './variables/variables.scss' as *;
@use './base/hamburger.scss' as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// background-color: transparent;
	padding-block: 15px;
	// border-block-end: 1px solid transparent;
	border-block-end: 1px solid hsla(0, 0%, 0%, 0.15);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
	// transition: var(--transition-1);

	.info-bar {
		display: none;
	}

	.cont {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-inline: 1rem;

		.containe {
			display: flex;
			align-items: center;
		}

		.search {
			padding: 15px;
			border: none;
			background: none;
			font-size: 1.7rem;
		}
	}
}

.nav {
	position: fixed;
	background-color: var(--smoky-black-1);
	top: 100px;
	bottom: 0;
	left: -430px;
	width: 100%;
	max-width: 360px;
	padding-inline: 30px;
	padding-block-end: 50px;
	overflow-y: auto;
	visibility: hidden;
	z-index: 2;
	background-color: red;
	transition: 500ms ease;
}

.nav.active {
	visibility: visible;
	transform: translateX(430px);
}

.logo-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

	p {
		display: none;
		margin: 0;
	}
}
