@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@100;300;400;700&display=swap');

// FONTS
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Poppins', sans-serif;

// COLORS
$primary: #4e64ff;
$hover-color: #485ae6;
$secondary: #01d5c4;
$black: #0d1717;
$white: #F0F8FF;
$white-transparency: hsl(208, 100%, 97%, 0.97);
$light-grey: #C7C7C7;
$dark-grey: #545454;
$smoky-black: hsla(40, 12%, 5%, 1);

// FONT SIZES
$headline-1: calc(1.4rem + .8vw);
$subtitle: calc(1rem + .7vw);

// LETTER SPACING
$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-2: 2px;

@mixin button {
	margin-top: 1rem;
	padding: 0.5rem 3rem;
	border-radius: 6px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color 300ms, color 300ms;
}