@use '../variables/variables' as *;

.info-bar {
	display: none;
}

@media (min-width: 768px) {
	.info-bar {
		display: none;
		background-color: $primary;

		&__title {
			padding: 0.2rem;
			font-weight: bolder;
			font-size: 0.7rem;
			text-align: center;
			color: $white;
		}
	}
}
