@use '../variables/variables' as *;

.nav {
	position: fixed;
	top: 95px;
	bottom: 0;
	left: -430px;
	width: 100%;
	max-width: 360px;
	padding-inline: 35px;
	padding-block: 20px;
	background-color: $white-transparency;
	overflow-y: auto;
	visibility: hidden;
	z-index: 2;
	transition: 500ms ease;

	&--active {
		visibility: visible;
		transform: translateX(430px);
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		padding-block: 0.8rem;
		font-size: 0.8rem;
		text-transform: uppercase;
		border-block-end: 1px solid hsla(0, 0%, 0%, 0.2);
		transition: color 300ms ease;

		&:is(:hover, :focus-visible) {
			color: $primary;
		}

		&::after {
			display: none;
		}
	}

	&__item:last-child {
		color: $primary;
		font-size: 1rem;
		font-weight: bold;
		padding-block-end: 1rem;
		border-block-end: none;
		transition: transform 300ms ease;
	}

	&__item:last-child:is(:hover, :focus-visible) {
		transform: translateX(20px);
	}

	.has-dropdown ion-icon {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.2rem;
	}

	&__actions {
		display: flex;
		flex-direction: column;
		padding-block-start: 1rem;
	}

	&__action {
		display: flex;
		align-items: center;
		padding-block: 0.6rem;
		font-size: 0.8rem;
		font-weight: bold;

		&:is(:hover, :focus-visible) ion-icon {
			color: $primary;
			transform: scale(1.02);
		}
	}

	&__action ion-icon {
		padding-right: 0.5rem;
		font-size: 2rem;
		transition: transform 300ms ease, color 300ms ease;
	}

	&__dropdown {
		// display: none;
		max-height: 0;
		visibility: hidden;
		opacity: 0;
		// overflow: hidden;
		transition: opacity 300ms ease, max-height 300ms ease, visibility 300ms ease;

		&--active {
			// display: block;
			max-height: 500px;
			opacity: 1;
			visibility: visible;
		}
	}

	&__dropdown-item {
		margin-block: 0.6rem;
		padding-left: 0.3rem;
		font-size: 0.8rem;
		transition: color 300ms ease;

		&:is(:hover, :focus-visible) {
			color: $primary;
		}
	}
}
