@use '../variables/variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	min-height: 300vh;
	scroll-padding-top: 40px;
}

body {
	color: $black;
	font-family: $text-font;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}
